<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="fragments/styles :: bootStyle"></th:block>

    <title>Lista delle Pizze</title>
</head>

<body>
    <header>
        <th:block th:replace="fragments/nav"></th:block>
    </header>
    <main class="container">
        <section class="row">
            <div class="col-12">
                <div class="create">
                    <a th:href="@{/pizze/create}" class="btn btn-primary m-4">Crea una nuova pizza</a>
                </div>
                <table class="table" th:if="${pizze.size() > 0}">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Descrizione</th>
                            <th>Prezzo</th>
                            <th>Immagine</th>
                            <th>Azioni</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="pizza : ${pizze}" th:object="${pizza}">
                            <td>
                                <a th:href="@{'/pizze/' + *{id}}">[[*{name}]]</a>
                            </td>
                            <td>[[*{desc}]]</td>
                            <td>[[*{price}]]€</td>
                            <td><img th:src="*{url}" alt=""></td>
                            <td>
                                <a th:href="@{/pizze/{id}/offer(id=${pizza.id})}"
                                    class="btn btn-outline-primary btn-sm">Create
                                    an offer</a>
                            </td>
                            <td>
                                <a th:href="@{/pizze/{id}(id=${pizza.id})}" class="btn btn-primary btn-sm">Show</a>
                            </td>
                            <td>
                                <a th:href="@{/pizze/edit/{id}(id=${pizza.id})}" class="btn btn-success btn-sm">Edit</a>
                            </td>
                            <td>
                                <form action="#" th:action="@{/pizze/delete/{id}(id=${pizza.id})}" method="post">
                                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p th:text="No pizzas are available at the moment" th:unless="${pizze.size() > 0}"></p>
            </div>

        </section>

    </main>
</body>

</html>