<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="fragments/styles :: bootStyle"></th:block>

    <title>Ingredient : [[${ingredient.name}]]</title>
</head>

<body>
    <header>
        <th:block th:replace="fragments/nav"></th:block>

    </header>
    <main class="container" th:object="${ingredient}">
        <h1>Ingredient: [[*{name}]]</h1>
        <hr>
        <section class="row justify-content-center">
            <h2>[[*{description}]]</h2>
            <hr>
            <p class="mb-3">Pizze con questi ingredienti: [[*{pizza.size()}]]</p>
        </section>


    </main>
</body>

</html>