<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <th:block th:replace="fragments/styles :: bootStyle"></th:block>
</head>

<body>

    <header>

        <th:block th:replace="fragments/nav"></th:block>

    </header>

    <main class="container">
        <div class="row">
            <div class="col-12">
                <th:block>
                    <h1 class="py-4 mb-2 text-center fw-bold"
                        th:if="${specialOffer != null and specialOffer.pizza != null}">
                        Special Offer on: [[${specialOffer.pizza.name}]]
                    </h1>
                    <div class="row justify-content-center">
                        <div class="col-8">

                            <form id="offers-form"
                                th:action="${edit} ? @{|/offers/edit/${specialOffer.id}|} : @{/offers/create}"
                                th:object="${specialOffer}" method="post">

                                <input type="hidden" th:field="*{pizza}" id="linked-pizza">

                                <div class="mb-3" th:if="${#fields.hasErrors()}">
                                    <ul class="alert alert-danger ps-5">
                                        <li th:each="error : ${#fields.allErrors()}" th:text="${error}"></li>
                                    </ul>
                                </div>
                                <div class="mb-3">
                                    <label for="beginDate" class="form-label">Begin Date:</label>
                                    <input type="date" class="form-control" id="beginDate" th:field="*{beginDate}">
                                </div>
                                <div class="mb-3">
                                    <label for="endDate" class="form-label">End Date:</label>
                                    <input type="date" class="form-control" id="endDate" th:field="*{endDate}">
                                </div>
                                <div class="mb-3">
                                    <label for="title" class="form-label">Title:</label>
                                    <input type="text" min="0" class="form-control" id="title" th:field="*{title}">
                                </div>

                                <div class="mb-3 d-flex justify-content-between">
                                    <input type="submit" class="btn btn-primary" value="Save">
                                    <input type="reset" class="btn btn-warning" id="name" value="Reset all fields">
                                </div>
                            </form>
                        </div>

                    </div>

                </th:block>
            </div>
        </div>
    </main>

</body>

</html>